<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignInAt - Account</title>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
    {{> header }}
    <main>
        <h1>Account</h1>
        <h2>Linked Accounts</h2>
        <section id="linked-accounts">
            <a class="linked-account" href="/account/manage/APP_ID">
                <img src="https://picsum.photos/200/100" alt="APP_NAME">
                <div class="info">
                    <p class="name"><b>APP_NAME</b></p>
                    <small class="url">APP_URL</small>
                </div>
            </a>
        </section>
    </main>
    {{> account-menu }}
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/account.js"></script>
</body>
</html>