<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignInAt - Settings</title>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
    {{> header }}
    <main>
        <h1>Settings</h1>
        <h2>Profile</h2>
        <section id="profile">
            <div class="field">
                <h4 class="name">First Name</h4>
                <small class="value first-name"></small>
            </div>
            <div class="field">
                <h4 class="name">Last Name</h4>
                <small class="value last-name"></small>
            </div>
            <div class="field">
                <h4 class="name">Email</h4>
                <small class="value email"></small>
            </div>
        </section>
    </main>
    {{> account-menu }}
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/settings.js"></script>
</body>
</html>