<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignInAt</title>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
    {{> header about=true developers=true signin=true }}
    <main>
        <section class="hero">
            <h1>Hassle-free account manager</h1>
            <p>A 'Sign In with X' alternative with <a href="/about"><b>superpowers</b></a></p>
            <a class="signed-out cta" href="/signup">Sign Up</a>
        </section>
    </main>
    {{> account-menu }}
    {{> footer }}
    <script src="/assets/js/main.js"></script>
</body>
</html>