<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignInAt - Sign In</title>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
    {{> header }}
    <main>
        <form action="" method="post">
            <h1>Sign In</h1>
            <label for="email">
                Email
                <input type="email" id="email" name="email" autocomplete="email" required>
            </label>
            <label for="password">
                Password
                <input type="password" id="password" name="password" autocomplete="current-password" required>
            </label>
            <button type="submit">Sign In</button>
        </form>
    </main>
    <footer>
        Copyright &copy; 2020 <a href="https://alexsandri.com" target="_blank">Alex Sandri</a>
    </footer>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/signin.js"></script>
</body>
</html>