<header>
    <a href="/">SignInAt</a>
    <div class="center">
        {{#if about}}
        <a href="/about">About</a>
        {{/if}}
        {{#if developers}}
        <a href="/developers">Developers</a>
        {{/if}}
    </div>
    {{#if signin}}
    <a class="signed-out right" href="/signin">Sign In</a>
    {{/if}}
    {{#if signup}}
    <a class="signed-out right" href="/signup">Sign Up</a>
    {{/if}}
    <button class="signed-in right" id="open-account-menu">Account</button>
</header>